#page{
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.7;
}

#page h1{
  width: 65%;
}

.top_header{
  background: #212121;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: white;
}

#header_line{
  background: #212121;
  margin-top: 0.05%;
  padding-right: 9%;
  padding-left: 5.5%;
  line-height: 2;
}

#header_line li{
  display: inline-block;
  /*line-height: 46px;*/
}

#breaking_news{
  float: left;
  /*line-height: 46px;*/
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding-right: 20px;
}

#news_ticker_line{
  font-family: 'PT Serif', serif;
  font-style: italic;
  /*line-height: 46px;*/
  color: #909090;
  transform: translate(20px);
}

#news_ticker_line:hover{
  cursor: move;
  color: #fff;
}

.social_box{
  float: right;
  color: #909090;
  display: inline-block;
  margin-right: 5px;
  margin-top: 10px;  
}

#skin{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 1170px;
  line-height: 1.7;
}

.header{
  display: block;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
}

.header_first{
  width: 33.33333333%;
  display: inline-block;
  height: 110px;
  margin-top: 18px;
  vertical-align: middle;
}

#block-sitebranding img {
    max-height: 110px;
    vertical-align: middle;
}

.header_second{
  float: right;
  width: 50%;
  display: inline-block;
  text-align: center;
}

.mid_header{
  display: block;
  width: 100%;
  float: left;
}

.bottom_header{
  float: left;
  width: 50%;
  display: inline-block;
  max-height: 110px;
  height: 43px;
}

.content{
  display: inline-block;
  width: 65%;
  text-align: center;
  padding-top: 2%;
}

.content img{
  width: 100%;
  height: auto;
}

.right_sidebar{
  display: inline-block;
  float: right;
  width: 30%;
  margin-left: 1%;
  text-align: center;
}

.footerbar{
  display: block;
  width: 100%;
  float: left;
  text-align: center;
}

li{
  list-style-type: none;  
}

#block-navigation li{
  display: inline-block;
  color: rgba(33,33,33,0.5);
  opacity: 1;
  padding: 0px 12px 20px 12px;
  font-size: 14px;
  cursor: move;
  font-family: 'PT Serif', serif;
  font-style: italic;
}

#block-middleheader li{
  display: inline-block;
  color: #212121;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding: 28px 20px 32px 20px;
  text-align: left;
  cursor: move;
}

#block-middleheader li:hover{
  color: red;
}
#block-navigation li:hover{
  color: red;
}

.hoverable{
  color: red;
}

#block-bottomheader{
  display: inline-block;
  cursor: move;
}

.breadcrum{
  font-size: 14px;
  color: rgba(33,33,33,0.5);
  padding: 16px 20px;
  margin-bottom: 40px;
  list-style: none;
  background-color: rgba(33,33,33,0.01);
  border-radius: 0px;
  text-decoration: none;
}

.breadcrumb span {
  color: #999;
  margin: 0 4px;
}

#block-bottomheader a {
  margin-left: 26px;
}

#block-bottomheader{
  text-align: left;
  margin-left: 6%;
  margin-right: 4px;
}

a {
  color: #fa4d01;
  text-decoration: none;
}


.views-row span{
  color: #212121;
  font-size: 21px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  float: right;
}

.views-row{
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(33,33,33,0.08);
  padding-bottom: 30px;
  display: block;
}